<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/css/index.css" rel="stylesheet" />

    
</head>
<body>
    <div>
        @RenderBody()


    </div>

    <script src="~/Contents/js/bootstrap.min.js"></script>
    <script src="~/Contents/js/index.js"></script>
</body>
</html>
